<ion-menu side="start" menuId="custom" class="my-custom-menu" contentId="main">
  <div class="bg-menu">
    <div class="overlay">
      <!--Header menu-->
      <ion-title>MENU</ion-title>
      <!--Avatar-->

      <!--footer menu-->
      <footer>
        <ion-footer>
          <ion-icon name="notifications"></ion-icon>
          <ion-icon mode="ios" name="settings"></ion-icon>
          <ion-icon mode="ios" name="power" (click)="logout()"></ion-icon>
        </ion-footer>
      </footer>
    </div>
  </div>
</ion-menu>



<ion-content id="main">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="menu" (click)="openCustom()"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar name="codigo" [(ngModel)]="codigo" placeholder="pesquisar processo..."></ion-searchbar> 
  <ion-list *ngIf="!processos.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated width="80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated width="30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

    <ion-list *ngIf="tipo == 'Advogado'">
      <ion-item-sliding *ngFor="let processo of processos" >
        <ion-item *ngIf="processo.userOAB == usuario.numeroOAB" button [routerLink]="['/details', processo.id]">
          <ion-label>
           {{ processo.assunto }}
            <p>{{ processo.tribunal }}</p>
            <p>{{ processo.createdAt | date: 'short' }}</p>
          </ion-label>
          <ion-note color="danger" slot="end">{{ processo.situacao }}</ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteProcesso(processo.id)">
            <ion-icon slot="end" name="trash"></ion-icon>
              Excluir
          </ion-item-option>
          <ion-item-option color="primary">
            <ion-icon slot="end" name="trash" (click)="compartilharProcesso(processo)"></ion-icon>
            Compartilhar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

      <ion-list *ngIf="tipo == 'Comum'">
        <div *ngFor="let processo of processos">
          <ion-item-sliding *ngIf="processo.codeProcesso == codigo">
            <ion-item  button [routerLink]="['/details', processo.id]">
              <ion-label>
                {{ processo.assunto }}
                <p>{{ processo.tribunal }}</p>
                <p>{{ processo.createdAt | date: 'short' }}</p>
              </ion-label>
              <ion-note color="danger" slot="end">{{ processo.situacao }}</ion-note>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="primary" (click)="addProcesso(processo.id)">
                <ion-icon slot="end" name="trash"></ion-icon>
                  Adicionar
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
        
          <ion-item-sliding *ngFor="let processo of processosBuscado" >
            <ion-item button [routerLink]="['/details', processo.id]">
              <ion-label>
                {{ processo.assunto }}
                <p>{{ processo.tribunal }}</p>
                <p>{{ processo.createdAt | date: 'short' }}</p>
              </ion-label>
              <ion-note color="danger" slot="end">{{ processo.situacao }}</ion-note>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="end" name="trash"></ion-icon>
                  Remover
              </ion-item-option>
              <ion-item-option color="primary-tint">
                <ion-icon slot="end" name="trash" (click)="compartilharProcesso(processo)"></ion-icon>
                  Compartilhar
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
    <ion-fab-button *ngIf="tipo == 'Advogado'" routerLink="/details">
      +
    </ion-fab-button>
  </ion-content>
